.hero-cover{
    background: transparent;
    &:before {
        content: "";
        background-image: linear-gradient(0deg, black, rgba(0, 150, 136, 0.15), black);
        z-index: 0;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }

    & ~ div {
        p {
            color: #ffffff;
        }
    }
}

.horizon-title {
    display: inline-block;
    border-bottom: 3px solid rgb(0, 150, 135);
}

.horizon-page {
    .horizon-cover {
        .uk-card {
            &.uk-card-grid  {
                .uk-card-media-top {
                    img {
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .uk-heading-small {
        font-size: 1.5rem;
    }

    .horizon-page {
        .horizon-cover {
            .uk-card {
                &.uk-card-grid  {
                    .uk-card-media-top {
                        img {
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
}